body{
    background-color: aliceblue;
}
h1{
    color: darkcyan;
    font-size: 60px;
    text-align: center;
}

h3{
    color: olivedrab;
}

div h3{
    color: slateblue;
}
b{
    color: peru;
}
h4{
    color: cadetblue;
}
h5{
    color: darkgreen;
}

div.onigiri{
    background-image: url('https://cdn.wallpapersafari.com/82/78/ot0nF6.png')
}
td{
    color: olivedrab;
}
#onigiri{
    color: cadetblue;
    text-align: center;
    font-size: 20px;
}
